<!doctype html>
<html lang="en" ng-app="restInvoker">
    <head>
            <meta charset="utf-8">
            <!-- <base href="/"> -->
            <link rel="icon" type="image/x-icon" href="favicon.ico">
            <link rel="stylesheet" href="css/main.css">

            <script src="//code.angularjs.org/1.6.9/angular.min.js"></script>
            <script src="scripts/app.js"></script>
    </head>
    <body>
        <h2>IFRE Importing</h2>
        <div ng-controller="mainController">
            <form name="invokeForm" novalidate>
                <div>User Name</div>
                <div class="no-top">
                    <input type="text" ng-model="user" name="userName" required>
                </div>
                <div ng-show="invokeForm.$submitted || invokeForm.userName.$touched" class="no-top errorMsg">
                    <div ng-show="invokeForm.userName.$error.required" >user name is required</div>
                </div>
                <div ng-show="invokeForm.$valid">
                    <input type="submit" value="Ok" ng-click="importing($event)" ></input>
                </div>
            </form>
        </div>
    </body>
</html>